rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // 使用者資訊
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // 圖片上傳資料
    match /uploads/{docId} {
      allow create: if request.auth != null && request.resource.data.uploadedBy.uid == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource.data.uploadedBy.uid == request.auth.uid;
    }
 
  // 圖片上傳資料
    match /uploadsRawPic/{docId} {
      allow create: if request.auth != null && request.resource.data.uploadedBy.uid == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource.data.uploadedBy.uid == request.auth.uid;
    }
    // 裁切狀態 metadata 儲存：主集合 cuttingStates
    match /cuttingStates/{userId} {
      // 允許主文件操作（如果有）
      allow read, write: if request.auth != null && request.auth.uid == userId;

      // ✅ 子集合 files 的權限控制
      match /files/{fileId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}